*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    background-image: url(./images/bg-desktop.svg);
    max-width: 1440px;
    min-height: 100vh;
    background-color: hsl(257, 40%, 49%);
    padding: 0 50px;
    display: flex;
    /* justify-content: ; */
    align-items: center;
    /* flex-direction: column; */

 }
 
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
}
.top-content{
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 40px;
    padding:10px ;
}
.huddle{
    width: 200px;
    margin-bottom: 35px;
}
.img{
    width: 550px;
    height: auto;
}
    .content{
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        width: 550px;
        margin-top: -30px;
        padding: 10px;
    }
    h1{
        font-size: 25px;
        color: white;
        width: 310px;
        margin-bottom: 15px; 
    }
    p{
        width: 430px;
        margin-bottom: 20px;
        color: white;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
    }
    button{
        background-color: white;
        width:150px ;
        height: 40px;
        border-radius: 20px;
        border: none;
        color: hsl(257, 40%, 49%);
    }
    button:active{
 background-color:  hsl(300, 69%, 71%);
 color: white;
    }
    .social-icon {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        margin-right: 100px;
    }
    .social-icon i{
        color: white;
        font-size: 13px;
    }
    .social-icon span{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border: 1px solid white;
        border-radius: 50%;
        margin: 20px 5px;
    }
    /* media query */
    @media (max-width: 376px){
        body{
            background-image: url(./images/bg-mobile.svg);
            max-width: 376px;
             min-height:100vh;
             flex-direction: column;
             padding: 0;
        }
        .container{
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .content{
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        .top-content{
            flex-direction: column;
        }
        .logo{
            width: 100%;
            margin-bottom: 20px;
            align-items: center;
            margin-right: 0;
        }
        .huddle{
            align-self: flex-start;
            padding-right: 30px;
            margin-top: 20px;
        }
        .img{
            width: 100%;
            height: auto;
        }
        h1{
            width: 100%;
            text-align: center;
        }
        p{
            width: 103%;
            text-align: center;
        }
        button{
            align-items: center;
            /* margin-left: 50px; */
            width: 70%;
        }
        .social-icon{
            margin-top: 15px;
        }
    }